{{> head }}
{{> navbar }}



<div class="row">

    <div class="col-6">
        <h1>Fran es comunista :v</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, dolores eius hic at doloribus culpa, quasi ab magnam ipsa nostrum natus a maxime aliquam autem veritatis tenetur! Quis, at blanditiis!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/taneli.jpg" alt="" class="img-thumbnail">
    </div>


</div>






 


{{> footer }}